

:root {
	font-size: 100%;
}


body {
	background-color: #232323;
	font-family: "verdana";
}


h1 {
	color: white;
	background-color: steelblue;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	border-radius: 14px;
	font-size: 1.6rem;
}

#targetColor {
	font-size: 2.4rem;
	margin-top: 10px;
	display: inline-block;
}

button {
	border:2px solid steelblue;
	background-color:transparent;
	text-transform: uppercase;
	height: 100%;
	font-weight: normal;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	padding:12px 25px;
	border-radius: 10px

}

button:hover {
	background: rgba(70, 131, 180, 0.9);
	color:white;
}

.square {
	background-color: red;
	width:10%;
	float:left;
	padding-bottom: 20%;
	border-radius: 20%;
	transition: background 0.7s;
}

.container {
	display: flex;
	justify-content: space-around;
	margin: 30px auto;
	max-width: 600px;
	padding: 30px 0;
	border-bottom: 2px solid steelblue;
	border-radius: 10px

}


#stripe {
	text-align: center;
	background-color:white;
	padding: 12px 0;
}

#message {
	font-family: "verdana";
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}


/*viewport*/

@media screen and (max-width:425px) {
	h1 {
		font-size: 1rem;
		padding: 30px 0;
	}

	#targetColor {
		font-size: 1.5rem;
	}

}


@media screen and (max-width:300px) {
	h1 {
		font-size: .7rem;
		padding: 40px 0;
	}

	#targetColor {
		font-size: 1rem;
	}

	button {
	padding:7px 15px;
	}

	#stripe {
	font-size: .7rem;
}

}


